#showDate {
  margin-top: 40px
}
#table{
  margin-top:60px;
  border: 1px solid #ddd;
  width:80%;
  margin-left:20px;
}

.table-bordered {
  border: 1;
}
a {
    text-decoration: none;
    color: black;
}
#hide{
  display: none;
}
