#datepicker {
    position: relative;
    margin-bottom: 50px;
    font-size: 18px;
    width: 100%;
    right: -55%;
}

.react-bs-table-container {
  width: 70%;
  margin-left: 20px;
}
#number {
  width: 7%
}
#buildPath {
  width:25%
}
#appVersion {
  width: 20%
}
#date {
  width: 20%
}
#showDate {
  margin-top: 40px
}
#buildTable{
  margin-top: 60px;
}
